@model MPT.Models.Users

@{
    Layout = null;
}


<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ski Tutor Login</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        #logo {
            text-align: center;
        }

        #logowanie {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div style="padding-top:150px;">
                <div id="logo">
                    <img src="~/Pictures/Ski-Logo_400x400.png" style="height: 200px;" />
                    <br /><br />
                    <h4>Register in to Ski Tutor Tool</h4>
                </div>
                <br />
                <div id="logowanie">
                    @using (Html.BeginForm("Register", "Home"))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        <h4>ID:</h4>
                        @Html.TextBoxFor(model => model.ID)
                        <h4>Name:</h4>
                        @Html.TextBoxFor(model => model.Name)
                        <h4>Surname:</h4>
                        @Html.TextBoxFor(model => model.Surname)
                        <h4>Password:</h4>
                        @Html.PasswordFor(model => model.HasPassword)
                        <br />
                        @*<h4>Confirm password:</h4>
                        @Html.PasswordFor(model => model.ConfirmPassword)*@
                        <br />
                        <p align="center"><input type="submit" value="Register" /></p>
                        <br />
                    }
                </div>

            </div>
        </div>

        <div class="col-sm-4"></div>
        <p>
        </p>
    </div>
</body>
</html>
